@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  box-sizing: border-box;

  background-color: #e7e5e5;

  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
