.modal {
  max-height: fit-content;
}

.modal_content {
  height: fit-content;
}

.modal_header {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header_text {
  font-size: 1.6rem;
}

.close_icon {
  width: 2rem;
  height: 2rem;
}

.modal_body {
  width: 100%;

  position: relative;

  min-height: 150px;
  height: fit-content;
}

.inputs {
  width: 100%;

  position: relative;
  z-index: 999;

  padding-top: 3rem;

  display: flex;
  justify-content: space-between;
}

.input {
  width: 45%;

  border: 3px solid #170a1c;
}

.separator {
  margin: 4px;
}

.img {
  max-width: 200px;

  width: 50%;

  position: absolute;

  top: 0;
  right: -20px;

  transform: scale(-1, 1);

  @media (850px <= width) {
    display: none;
  }
}

.buttons {
  display: flex;

  margin-top: 1rem;

  width: 100%;

  justify-content: space-evenly;
}

.start_button {
  background-color: white;

  padding: 0.6rem;

  font-size: 1.6rem;

  color: #4cb944;

  border: 3px solid #4cb944;
  border-radius: 25px;
}

.close_button {
  background-color: white;

  padding: 0.6rem;

  font-size: 1.6rem;

  color: #ff6584;

  border: 3px solid #ff6584;
  border-radius: 25px;
}
